<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <img id="login-logo" src="/assets/mario rapper.jpg">
        <form class="login-form">
            <h2>Sign Up</h2>
            
            <li>
                <ul>
                    <p class="input-title">Email</p>
                    <input class="input-box"type="text">
                </ul>
            </li>
        </form>
    </div>
</body>
</html>